body {
    width:640px;
    height:1280px;
}
#main {
    top:0;
    left:0;
    width:640px;
    min-height:500px;
    background-image: url(../img/back.png);
    position:relative;
}
#input{
    top:20px;
    left:20px;
    width:640px;
    height:160px;
    position:relative;
}

#price{
    top:0px;
    left:20px;
    position:relative;
}

.serif{
    position: relative;
}
#firstHalf{
    top:0px;
    left:0px;
}
#lastHalf {
    top:0px;
    left:120px;
}

.itemTypeRadio{
    top:0px;
    left:20px;
    position:relative;
}

#appraisalButton{
    left:20px;
    position:relative;
}

#result {
    top:20px;
    left:20px;
    width:500px;
    position:relative;
}
.container{
    width:640px;
    min-height:600px;
}
#result td {
    border:none;
    background-image: url(../img/line.png);
    background-position: bottom;
    background-repeat: repeat-x;
}
#result th {
    border:none;
    background-image: url(../img/line.png);
    background-position: bottom;
    background-repeat: repeat-x;
}

.result{
    top:0px;
    left:0px;
    width:640px;
    position:relative;    
}

